<div class="horse-wrapper">
  <div class="image">
    <%= image_tag 'horse_js' %>
  </div>
  <div class="content">
    <div class="title">
      horse_js
      <span class="date">7 days</span>
    </div>
    <div class="description">
      as much as I want to be, I am not 
      <%= link_to '@horse_js', 'https://twitter.com/horse_js', target: "_blank" %>
    </div>
  </div>
</div>