.horse-wrapper {
  display: flex;
  background-color: #fbfbfb;
  padding: 10px;
  border-top: 1px groove rgba(255, 255, 255, 0.28);
  border-bottom: 1px groove rgba(255, 255, 255, 0.28);

  .image {
    flex: 0 0 5%;

    img {
      width: 50px;
    }
  }

  .content {
    flex: 1;
    margin-left: 10px;

    .title {
      font-weight: bold;

      span.date {
        font-weight: normal;
        float: right;
        color: #bcbab8;
      }
    }

    .description a {
      text-decoration: none;
    }
  }
}
